.table tr td > a.btn:not(.btn-icons){
	padding: 0.4rem 1rem !important;
}

.table tr td > a.btn-icons {
	padding:10px !important;
}

.error-text{
	color: #ff6258 !important;
	font-size: 0.65rem !important;
}

.hidden{
	display: none !important;
	visibility: hidden !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.no-border-radius{
	border-radius: 0 !important;
}

#sidebar > ul.nav > li.active {
	background: #0f25d5 !important;
}

#sidebar > ul.nav > li.active > a > .menu-title{
	font-weight: bold !important;
}
.user-dropdown-menu > a:hover {
	background: #065efd !important;
	color: #fff !important;
}
input.select2-search__field {
	font-size: 13px !important;
	font-weight: normal !important;
	padding: 0 .75rem !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	font-size: 0.8rem !important;
}
.select2-selection__choice__remove {
	font-weight: bold !important;
	color: darkred !important;
	margin-right: 5px !important;
	font-size: .95rem !important;
}
.border-2x{
	border-width: 2px;
}
.border-3x{
	border-width: 3px;
}
